/* NAVIGATION */
#navigation {
  position: fixed;
  z-index: 1000;
}

#navigation ul li {
  text-decoration: none;
  list-style: none;
  font-size: 3rem;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#navigation ul li:hover {
  transform: scale(1.1) translateX(10%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.active {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  color: red;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  #navigation {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #navigation ul {
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    top: 3rem;
    left: 0;
  }

  #navigation.toggleMenu ul {
    display: flex;
    padding-bottom: 5%;
  }

  #navigation ul li {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

  #navigation ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* Style du bouton hamburger */
  .menu-toggle {
    z-index: 1100;
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #navigationContainer .col-md-4 {
    width: 0%;
  }

  #contentContainer .col-md-8 {
    width: 100%;
  }

  #navigation ul li::before {
    margin-right: 0;
  }

  #navigation ul li.active::before {
    color: red;
  }
}

/* Desktop - rétablir le menu classique */
@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }

  #navigation {
    margin-top: 30vh;
  }

  #navigation ul {
    display: block;
  }

  #navigation ul li::before {
    content: "◇ - ";
    margin-right: 10px;
  }

  #navigation ul li.active::before {
    content: "◆ - ";
    color: red;
  }
}
